@model DAW.Models.Comment

<div class="group-form">
    <form asp-action="Edit" asp-controller="MainComments" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <input type="hidden" name="PostId" value="@Model.PostId" />
            <label>Content</label>
            <textarea name="Content" class="form-control" placeholder="Comment">@Html.Raw(Model.Content)</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button class="btn btn-success" type="submit">Send</button>
    </form>
</div>