@model DAW.Models.ApplicationUser

<h2 class="text-center mt-5">Edit Profile Info</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form enctype="multipart/form-data" method="post" asp-controller="ApplicationUsers" asp-action="Edit" asp-route-id="@Model.Id">

                <div class="form-group">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <br />
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <br />
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Bio" class="form-label">Bio</label>
                    <br />
                    <input asp-for="Bio" class="form-control"></input>
                    <span asp-validation-for="Bio" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="ProfilePicture">Upload Profile Picture</label>
                    <br />
                    <input asp-for="ProfilePicture" class="form-control" type="file" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                
                    <br /><br />
                </div>

                <div class="form-group">
                    <label>Profile Privacy</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" value="true" id="publicOption" />
                        <label class="form-check-label" for="publicOption">Public</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" value="false" id="privateOption" />
                        <label class="form-check-label" for="privateOption">Private</label>
                    </div>

                    <br />
                </div>

                <button class="btn btn-primary" type="submit">Apply changes</button>
            </form>
            <br />
            @if (ViewBag.IsAdmin)
            {
                <form asp-action="Delete" asp-controller="ApplicationUsers" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete account</button>
                </form>
            }
        </div>
    </div>
</div>

