:root {
    --dark-purple: #391054;
    --normal-purple: #5b2676;
    --light-purple: #9c72b2;
    --pastel-purple: #c9a7f1;
    --danger: #CA0B00;
    --success: #376e37;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mov {
    color: var(--normal-purple);
}

/* Profile Header */
.profile-banner {
    height: 168px;
    background-color: var(--normal-purple);
    position: relative;
}

.profile-picture {
    width: 168px;
    height: 168px;
    object-fit: cover;
    position: absolute;
    top: 4rem;
    left: 1rem;
}

.profile-icon {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.profile-icon-post {
    width = 40px;
    height: 40px;
    object-fit: cover;
}

.profile-info {
    margin-top: 4.6rem;
    margin-left: 1.9rem;
}

.profile-bio {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.profile-friends {
    font-size: 1.1rem;
}

/* Postari */
.post-label {
    background-color: var(--pastel-purple);
    font-weight: 450;
    color: var(--dark-purple);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-date {
    font-size: 0.8rem;
}

.post-likes {
    font-size: 1.2rem;
    background-color: var(--normal-purple);
    font-weight: 450;
    color: white;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.3rem;
}


/* Butoane */
.btn {
    background-color: transparent;
    border-radius: 25px;
}

.btn:hover {
    color: white;
}

.btn-primary {
    color: var(--normal-purple);
    border: 2px solid var(--normal-purple);
}

.btn-primary:hover {
    border-color: var(--normal-purple);
    background-color: var(--normal-purple);
}

.btn-danger {
    color: var(--danger);
    border: 2px solid var(--danger);
}

.btn-danger:hover {
    border-color: var(--danger);
    background-color: var(--danger);
}

.btn-success {
    color: var(--success);
    border: 2px solid var(--success);
}

.btn-success:hover {
    border-color: var(--success);
    background-color: var(--success);
}