:root {
    --dark-purple: #391054;
    --normal-purple: #5b2676;
    --light-purple: #9c72b2;
    --pastel-purple: #c9a7f1;
    --danger: #CA0B00;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Profile Header */
.profile-banner {
    height: 168px;
    background-color: var(--normal-purple);
    position: relative;
}

.profile-picture {
    width: 168px;
    height: 168px;
    object-fit: cover;
    position: absolute;
    top: 4rem;
    left: 1rem;
}

.profile-info {
    margin-top: 4.6rem;
    margin-left: 1.9rem;
}


/* Butoane */
.btn {
    background-color: transparent;
    border-radius: 25px;
}

.btn:hover {
    color: white;
}

.btn-primary {
    color: var(--normal-purple);
    border: 2px solid var(--normal-purple);
}

.btn-primary:hover {
    border-color: var(--normal-purple);
    background-color: var(--normal-purple);
}

.btn-danger {
    color: var(--danger);
    border: 2px solid var(--danger);
}

.btn-danger:hover {
    border-color: var(--danger);
    background-color: var(--danger);
}